<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseQueueNameSetting" value="MassTransit3Demo" />
    <add key="RequestResponseQueueNamePostfixSetting" value="Conversation" />
    <add key="GeneralQueueNamePostfixSetting" value="Input" />
    <add key="RabbitMqBaseUriSetting" value="rabbitmq://localhost" />
    <add key="SeqSinkUrlSetting" value="http://localhost:5341" />
    <add key="serilog:minimum-level" value="Debug" />
    <add key="QueueUserNameSetting" value="guest" />
    <add key="QueuePasswordSetting" value="guest" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Automatonymous" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>