<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseQueueNameSetting" value="MassTransit3Demo" />
    <add key="RequestResponseQueueNamePostfixSetting" value="Conversation" />
    <add key="GeneralQueueNamePostfixSetting" value="Input" />
    <add key="RabbitMqBaseUriSetting" value="rabbitmq://localhost" />
    <add key="SeqSinkUrlSetting" value="http://localhost:5341" />
    <add key="serilog:minimum-level" value="Debug" />
    <add key="QueueUserNameSetting" value="guest" />
    <add key="QueuePasswordSetting" value="guest" />
  </appSettings>
</configuration>